body{
  background: #eeeeee;
  padding-bottom: 20px;
}
.navbar {
  margin-bottom: 20px;
}
#header-nav{
  border-radius: 0;
  border: 0;
}












/* Bootstrap Grid

<div class="container-fluid">
<div class="row">	
<div class="col-md-4 col-sm-6">Col 1</div>
<div class="col-md-4 col-sm-6">Col 2</div>
<div class="col-md-4 col-sm-6">Col 3</div>
</div>
</div>


.row{
	margin-bottom: 15px;
}
.row > div {
	border: 2px solid red;
	background-color: gray;
}

*/