body{
  background: #0c7b93;
  padding-bottom: 20px;
  text-align: justify;
  font-family: 'Arimo', sans-serif;
  font-family: 'Lato', sans-serif;

}

/* GRID */
.row{
  margin-bottom: 30px;
  padding: 5px;
}
.row > div {
  padding-bottom: 10px;
}
.navbar {
  margin-bottom: 10px;
  padding: 10px;
}
#header-nav{
  border-radius: 0;
  border: 0;
  background-color: #222831;
}

/* NAV, NAVBAR */
.navbar-brand h1 { 
  color: white;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
}

#nav-list a {
  color: white;
  text-align: center;
}
#nav-list a:hover {
 background: gray;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid gray;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -10px;
}

h2{
  color: white;
  padding: 10px;
  
}

/* CLASS, SECTION */
.chicken, .beef, .fish{
  color: black;
  font-size: 125%;
  padding: 10px;
  margin: 5px;
 }

.chickentext, .beeftext, .fishtext{
  background-color: #e5dfdf;
  color: black;
  font-size: 1.3em;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
  margin: 5px;
}
/* END HEADER */

/* MEDIA QUERIES */
/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {

}

/********** Extra small devices only **********/
@media (max-width: 767px) {

    /* Header */
  .navbar-brand {
    padding-top: 10px;  
    height: 5px;
  }
  .navbar-brand h1 { 
    padding-top: 10px; 
  }
  

  #colapsado a { 
    font-size: 1.2em;
  }
  #colapsado a span { 
    font-size: 1em;
    margin-right: 5px;
  }

}
