*{
  box-sizing: border-box;       
  }

body{
    font-family: Garamond, Candara, sans-serif;
    background-color: #e2c275; 
    }

h1{
    color: black;
    text-align: center;
    font-size: 175%;
    margin: 10px;
    padding: 30px;
  }

/*------ Class-----*/

.BL{ 
    position: relative;
    margin: 0px;
    width: 100% 
    padding: auto;
    float: left;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-content: center;
    clear: left;
  }


 .bloque{
    position: relative;
    background-color: #445c3c; 
    border: 1px solid black;
    margin:10px;
    padding: 0px;
    float: left;
  }

.subloque1{
    color: white;
    border: 1px solid black;
    text-align: center;
    font-size: 125%;
    width:90px;
    height: 35px; 
    padding: 5px;
    float: right;
}

/*-----ID------*/
#sb1{
    background-color: #fa7d09;
} 

#sb2{
    background-color: #fa1616;
}

#sb3{
    background-color: #0e9aa7;
}

.subloque2{
    color: white;
    text-align: justify;
    font-size: 125%;
    margin-top: 40px;
    padding: 15px;
}

/* Media Queries*/

@media (min-width: 992px){
  .BL, .bloque1, .bloque2,.bloque3{
    width: 100%;
  }
}


@media (min-width: 768px) and (max-width: 991px) {
 
  .BL{
    flex-flow: row wrap;
  }
  .bloque1, .bloque{
    width:47%; 
    padding: 0; 
  }
  .bloque3{
    width: 100%
  }
}

@media (max-width: 767px){

.BL, .bloque1, .bloque2, .bloque3{
    width: 100%;
    margin-left: 0;
    flex-flow: column;
    overflow: auto;
  }
}