*{
  box-sizing: border-box;

  }

body{
    font-family: Garamond, Candara, sans-serif;
    background-color: #96bb7c; 
   
    }

h1{
    color: #f5f5f5;
    text-align: center;
    font-size: 175%;
    margin: 10px;
    padding: 30px;
  }

/*------ Class-----*/

.BL{ 
  margin: 0px;
  width: 100% 
  padding: auto;
  float: left;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-content: center;
  }


 .bloque{
  background-color: #eebb4d; 
  border: 3px solid #649d66;
  margin:10px;
  padding: 0px;
  float: left;
  width:300px;
  }

.subloque1{
  color: white;
  text-align: center;
  font-size: 18px;
  border: 3px solid #649d66;
  width:70px;
  height: 35px; 
  padding: 5px;
  float: right;

}


#sb1{
  background-color: #cf7500;
} 

#sb2{
  background-color: #c70039;
}

#sb3{
  background-color: #01a9b4;
}

.subloque2{
  color: black;
  text-align: justify;
  margin-top: 40px;
  padding: 15px;
}

/* Media Queries*/

@media (min-width: 992px){
  .BL, .bloque1, .bloque2,.bloque3{
  width: 100%;
  }
}


@media (min-width: 768px) and (max-width: 991px) {
 
  .BL{
    flex-flow: row wrap;
  }
  .bloque1{
  width:47.3%;   
  }

  .bloque2{
  width:47.3%;   
  }

  .bloque3{
  width: 100%
  }
}

@media (max-width: 767px){

.BL, .bloque1, .bloque2, .bloque3{
  width: 100%;
  margin-left: 0;
  flex-flow: column;
  overflow: auto;
  }
}